html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

video {
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.fancy-video {
  margin-top: 20vh;
}

.fancy-video .replay {
  opacity: 0;
  float: right;
  transition: 500ms all;
}

.fancy-video.played .replay {
  opacity: 1;
  float: right;
  transition: 500ms all;
}

.replay {
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
}

.replay:hover {
  background: #fafafa;
}

.replay img {
  width: 20px;
  height: 20px;
}

h1 { 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3;
    padding: 45px;
}

div.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: Arial, 'Segoe UI';
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }


  .container { 
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

nav{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003087;
}

a { 
    text-decoration: none;
    padding: 42px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    font-style: italic;
    text-shadow:black;
}

div { 
    display: block;
}

div > p { 
    display: inline;
    margin: 0;
    text-align: center;
    color: #003087;
    text-decoration: none;
}

div > p > a{ 
    display: block;
    margin: 0;
    text-align: center;
    background-color: #003087;
    text-decoration: none;
    padding: 0px;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 25px;
}

@media (max-width: 767px){
    div.centered{ 
        font-size: 35px;
    }
}